<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar admin" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Your Site | Admin", admin_index_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
      
        <ul class="right">
          <li><a href="#">Users</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Messages</a></li>
        </ul>

        <ul class="left">
          <li><%= link_to "Signed in as #{current_admin.email}", admin_index_path %></li>
          <li><%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
        </ul>

      </section>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="on-bottom admin">
      <ul class="vcard">
        <li class="fn">Company Name</li>
        <li class="fn">Your Name</li>
        <li class="street-address">123 Your Ave.</li>
        <li class="locality">Sunset City</li>
        <li><span class="state">Misouri</span>, <span class="zip">00100</span></li>
        <li class="email">
          <a href="#">you@email.com</a>
        </li>
      </ul>

      <div class="footer-details right">
        <h3>Site Nav</h3>
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>

      <div class="footer-details right">
        <h3>Affiliates</h3>
        <ul>
          <li><a href="#">Ruler Wise Consulting</a></li>
          <li><a href="#">Powderman Global</a></li>
          <li><a href="#">Por Homme, Inc.</a></li>
        </ul>
      </div>

      <div class="footer-details right">
        <h3>Legal</h3>
        <ul>
          <li><a href="#">Disclaimer of services</a></li>
          <li><a href="#">Contract</a></li>
          <li><a href="#">Action Plan</a></li>
        </ul>
      </div>

    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
